html {
    box-sizing: border-box;
}
  
*, ::before, ::after {
    box-sizing: inherit;
}
 
footer {
    height: 60px;
    background-color: #6B6D76;
    color: #F4ECE1;
    text-align: center;
    padding: 20px;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.header-banner {
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 0;
    height: 200px;
}

h1 {
    background-image: url(images/flower-banner.png);
    padding-top: 80px;
    padding-bottom: 80px;
    padding-right: 50px;
    background-color: #F4ECE1;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: right;
    margin: 0;
    color: #6B6D76;
    grid-column-start: 2;
    height: 194.08px;
}

.hero_banner {
    width: 150px;
    background-color: #F4ECE1;
    grid-column-start: 1;
}

