@use 'vars';

// -------------------------------------

// mobil - do 640px, tablet - do 1000 px, PC - nad 1000 px

.main-kontakt {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;

    @media (max-width: 640px) {
        grid-template-columns: 1fr;
    }
}

.nadpis-kontakt {
    grid-column-start: 1;
    grid-column-end: 4;
    padding: 30px;
    margin: 0;
    justify-self: center;

    @media (max-width: 640px) {
        font-size: 20px;
        grid-column-start: 1;
        grid-column-end: 1;
    }
}

.kontakt-ikona {
    max-width: 400px;
    display: flex;
    align-items: center;
    padding: 10px;
    
    @media (min-width: 640px) {
        max-width: 800px;
        grid-column-start: 1;
        grid-column-end: 2;
    }
}

.image-kontakt {
    width: 80px;
    border-radius: 50px;
    padding: 5px;
    margin-left: 20px;
    border: 2px solid vars.$dim-gray;
}  

.text-icon {
    max-width: 300px;
    text-align: left;
    margin-left: 20px;
}

.nadpis-formular {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    padding: 30px;
    margin: 0;
    justify-self: center;

    @media (min-width: 640px) {
        font-size: 20px;
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 2;
    }
}

.label {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    padding: 15px;
}

.name {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    
    @media (min-width: 640px) {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 3;
    }
}

.mail {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 7;
    
    @media (min-width: 640px) {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 4;
    }
}

.vzkaz {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 8;
    
    @media (min-width: 640px) {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 5;
    }
}
