@use 'vars';
@use '_index.scss';
@use 'for-template';
@use 'omne.scss';
@use 'kontakt.scss';
@use 'vyrobky.scss';

// -------------------------------------

// mobil - do 640px, tablet - do 1000 px, PC - nad 1000 px

html {
    box-sizing: border-box;
}
  
*, ::before, ::after {
    box-sizing: inherit;
}
 
body {
    font-family: vars.$pismo;
    font-size: vars.$velikost-pisma;
    margin: auto;
    color: vars.$dim-gray;
}


